* {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

#footer {
  position: absolute;
  bottom: 20px;
  right: 60px;
}

#switch {
  position: absolute;
  top: 20px;
  right: 60px;
}

#code {
  flex: 1 1 300px; /* Minimum width of 300px */
  max-width: 50%; /* Maximum width of 50% of the screen */
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

[class^="part"] .pagination {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
  justify-content: center;
}

[class^="part"] .pagination li {
  display: inline;
}

.part2 .pagination li a,
.part3 .pagination li a {
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: black;
  background-color: #f9f9f9;
}

.part2 .pagination li a[aria-current="page"],
.part3 .pagination li a[aria-current="page"] {
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border-color: #007bff;
}

.part3 .pagination li a:hover {
  background-color: #0056b3;
  color: white;
  border-color: #0056b3;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.part3 .pagination li a:active {
  background-color: #004494;
  border-color: #004494;
}
